services:
  db:
    image: postgres:15-alpine
    container_name: voice_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-password}
      - POSTGRES_DB=${DB_NAME:-voice_assistant}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-voice_assistant}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. Shadowsocks Клиент (Туннель через XEOVO)
  ss-client:
    image: shadowsocks/shadowsocks-libev
    container_name: ss_client
    restart: always
    env_file: .env
    ports:
      - "1080:1080" # ВАЖНО: пробрасываем порт на локальную машину
    command: >
      ss-local 
      -s ${SS_ADDRESS} 
      -p ${SS_PORT} 
      -k "${SS_PASSWORD}" 
      -m chacha20-ietf-poly1305
      -b 0.0.0.0 
      -l 1080
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ulimits:
      nofile:
        soft: 1024
        hard: 2048

  # 3. FastAPI (Сервис обработки и API)
  api:
    build: .
    container_name: fastapi
    restart: always
    depends_on:
      db:
        condition: service_healthy
      ss-client:
        condition: service_started
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    environment:
      - DATABASE_URL=postgresql://${DB_USER:-postgres}:${DB_PASSWORD:-password}@db:5432/${DB_NAME:-voice_assistant}
      - MAX_WORKERS=2
      - WEB_CONCURRENCY=2

      - HTTP_PROXY=${PROXY_URL}
      - HTTPS_PROXY=${PROXY_URL}

  bot:
    build: .
    container_name: voice_bot
    restart: always
    depends_on:
      db:
        condition: service_healthy
      api:
        condition: service_started
      ss-client:
        condition: service_started
    env_file: .env
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    environment:
      - DATABASE_URL=postgresql://${DB_USER:-postgres}:${DB_PASSWORD:-password}@db:5432/${DB_NAME:-voice_assistant}
      - FASTAPI_URL=http://api:80/api/update
    #  - HTTP_PROXY=${PROXY_URL}
    #  - HTTPS_PROXY=${PROXY_URL}
      - NO_PROXY=api,db,localhost,127.0.0.1
    entrypoint: ["python", "bot_main.py"]

volumes:
  postgres_data:
  uploads: