--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
fastapi
uvicorn
environs
sqlalchemy
pydantic_settings
openai-whisper
pytest
google-genai
httpx
aiogram
gunicorn
psycopg2-binary
python-multipart
httpx[socks]
socksio>=1.0.0